*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}




:root{
    --main_color:#0080FF;
    --contrast_color:#E7FF19;
    --alert_color:#FF2819;
    --dark_blue:#1262B3;
    --yellow_fade:#A1B309;

}


/* ==== Header Start ==== */
.cabeçalho{
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1262B3;
       

}

.header_icon{
    background-image: url(/images/equipe_1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.nav_header{
    padding: 5px;
    
    
}

.nav_header li a{
    color: black;
}

.nav_header li{
    display: inline-block;
    margin-left: 20px;
}

/* ==== Header End ==== */


/* ==== SlideShow Start ==== */
.prison{
    width: 100vw;
    height: 100vh;
}

.content{        
    width: 100%;
     
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    
    max-height: 550px;
    
    
    
    
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
}

.bar:hover{
    background-color: #fff;
}
input{
    display: none;
}

.slides{
    width: 500%;
    display: flex;
    height: 100%;
}

.slide{
    width: 20%;
    transform: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

/* ==== SlideShow End ==== */

/* ==== Game About Start ==== */
.game_about{    
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    gap: 10px;
}
.div_33{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 35px;
    background-color: #E7FF19;
    border-radius: 5%;
    height: 300px;

}

/* ==== Game About End ==== */

/* ==== Iframe Start ==== */
.trailer-box{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 30px;
   background-color: #A1B309;
   
  
   
}



/* ==== Iframe End ==== */

/* ==== About Team Start ==== */

.know_team{
    width: 100%;
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: #FF2819;
    
    
}

#two:checked ~ .main-card{
    margin-left: -100% ;
}

.container_card{
    max-width: 950px;    
    width: 100%;
    padding: 80px 0;
    overflow: hidden;
    
    
}

.container_card .main-card{
    width: 200%;   
    display: flex;
    justify-content: space-evenly;
    transition: all 1s ease;

}

.container_card .main-card .cards{
    width:calc(100% / 2 - 10px);
    display: flex;
    justify-content: space-between;       
    margin: 0 20px;
    flex-wrap: wrap;
    
}



.main-card .cards .card{
    background-color: white;
    width: calc(100% / 3 - 10px);
    padding: 30px;
    border-radius: 12px;
    transition: all 0.4s ease;
    
}
.cards .card .content_card .img{
    height:130px;
    width: 130px;
    margin-bottom: 14px;
    padding: 3px;
    background-color:#0080FF;
    border-radius: 50%;
}

.cards .card .content_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.card .content_card .img img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 50%;
    background-color: white;
    border: 3px solid white;
   
}

.card .content_card .details .name{
    font-weight: 500;
    font-size:20px;
}

.card .content_card .details .job{
    font-size: 20px;
    color: #1262B3;
}

.card .content_card .media-icons{
    display: flex;
    margin-top: 10px;
}

.card .content_card .media-icons a{
    height: 35px;
    width: 35px;
    margin: 0 4px;
    border-radius:50% ;
    line-height: 33px;
    text-align: center;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    font-size: 14px;

}

.content_card .media-icons a:hover{
    border-color: red;
    background-color: white;
    color: red;
}

.button{
    display: flex;
    margin: 20px;
    justify-content: center;
    
}

.button label{
    height: 15px;
    width: 15px;
    background-color: white;
    margin: 0 4px;
    border-radius: 20px;
}

.button label.active{
    width: 35px;
}

#one:checked ~ .button label.one{
    width: 35px;
}

#two:checked ~ .button label.two{
    width: 35px;
}

#two:checked ~ .button label.one{
    width: 15px;
}

#one:checked ~ .button label.two{
    width: 15px;
}

input[type="radio"]{
    display: none;
}

/* ==== About Team End ==== */